{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Quiz" %}{% endblock %}
{% block css %}
<style>
#id_no_of_artifact ,#id_bg_transparency,#id_artifact_name ,#id_quiz_type,#id_difficulty,#id_font_size,#id_font_name,#id_font_color,#id_bold,#id_retention_period,#id_file_share_path,#id_bg_image_type,#id_solid_color,#id_bg_image,#id_tag_line_font_size {
    width: 200px;
}

</style>
{% endblock %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col col-3 ">
            {% include 'user_profile/sidebar.html' %}
        </div>

        <div class="col col-9 ">
            <div class="alert alert-success" id="generated" style="display:none" role="alert">
                Quiz Generated Successfully!
            </div>
            <div class="alert alert-danger" id="image_message" style="display:none" role="alert">

            </div>


            <div class="card">
                <div class="card-body">

                    <h3 class="text-center">
                      Form
                      <small class="text-muted">For Quiz Creation</small>
                    </h3>
                    <hr>

                    <form class="form" id="user_quiz_form"  data-url="{% url 'quiz' %}" enctype="multipart/form-data" method="post" action=".">
                        {% csrf_token %}

                        {% bootstrap_field user_quiz_form.no_of_artifact layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.bg_transparency layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.quiz_type layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.difficulty layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.font_name layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.font_size layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.font_color layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.bold layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.retention_period layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.bg_image_type layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.solid_color layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.bg_image layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.tag_line_font_size layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.tag_line_text layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.local_folder layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.insrtctions layout='horizontal' size='sm'%}
                        {% bootstrap_field user_quiz_form.test layout='horizontal' size='sm'%}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="button" onclick="alertfunc(event)" class="btn btn-primary btn-sm btn-block" >Quiz </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

document.getElementById("id_bg_image").setAttribute("disabled", "true");
document.getElementById("id_bg_image_type").onclick = function() {imagetype()};
function imagetype() {
  selectedval = document.getElementById("id_bg_image_type").value;
  if(selectedval == 's'){
    document.getElementById("id_bg_image").setAttribute("disabled", "true");
    document.getElementById("id_solid_color").removeAttribute("disabled");
    }
  else if(selectedval == 'i'){
    document.getElementById("id_bg_image").removeAttribute("disabled");
    document.getElementById("id_solid_color").setAttribute("disabled", "true");
    }
}

function alertfunc(event){
    if (confirm('Are you sure to generate quiz')) {
      // Save it!
      var endpoint = $('#user_quiz_form').attr("data-url");
      var token = document.getElementsByName("csrfmiddlewaretoken")[0].defaultValue;
      event.preventDefault();
      var data = new FormData($('#user_quiz_form').get(0));


      $.ajax({
            type : "POST", // http method
            url : endpoint, // the endpoint
            data : data,

            processData: false,
            contentType: false,

            // handle a successful response
            success : function(json) {
                if(json.status == 1){
                    window.open(window.location.origin+json.image_url, '_blank');
                 }
                  else if  (json.status == 2){
                    document.getElementById('image_message').style.display = 'block';
                    document.getElementById('image_message').innerHTML = json.message;
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                    setInterval(function () {
                        document.getElementById('image_message').style.display = 'none';
                    }, 5000);

                 }
                 else{

                        document.getElementById('generated').style.display = 'block'
                        window.scrollTo({ top: 0, behavior: 'smooth' });
                        setInterval(function () {
                            document.getElementById('generated').style.display = 'none';
                        }, 3000);
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(errmsg);
            }
        });
    } else {
      // Do nothing!
      console.log('Cancel');
    }
}
</script>
{% endblock %}
