{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "User Status" %}{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col col-3 ">
            {% include 'user_profile/sidebar.html' %}
        </div>

        <div class="col col-9 ">
            <div class="alert alert-success" id="generated" style="display:none" role="alert">
                Quiz Generated Successfully!
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="h6">Quiz</h2>
                    <hr>
                    <p>Quiz creation Form</p>
                    <form class="form" id="user_quiz_form"  data-url="{% url 'quiz' %}" enctype="multipart/form-data" method="post" action=".">
                        {% csrf_token %}
                        {% bootstrap_form user_quiz_form %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="button" onclick="alertfunc(event)" class="btn btn-primary " >Quiz </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function alertfunc(event){
    if (confirm('Are you sure to generate quiz')) {
      // Save it!
      console.log('Generated Successfully!');
      var endpoint = $('#user_quiz_form').attr("data-url");
      var token = document.getElementsByName("csrfmiddlewaretoken")[0].defaultValue;
      event.preventDefault();
      var data = new FormData($('#user_quiz_form').get(0));
      console.log(data)

      $.ajax({
            type : "POST", // http method
            url : endpoint, // the endpoint
            data : data,

            processData: false,
            contentType: false,

            // handle a successful response
            success : function(json) {
                document.getElementById('generated').style.display = 'block'
                window.scrollTo({ top: 0, behavior: 'smooth' });
                setInterval(function () {
                    document.getElementById('generated').style.display = 'none';
                }, 3000);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(errmsg);
            }
        });
    } else {
      // Do nothing!
      console.log('Cancel');
    }
}
</script>
{% endblock %}
