{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}Quiz Application{% endblock %}

{% block content %}
<section style="background: white;">
    <div class="container">
        <div class="row">
            <div class="col col-12 pb-5">
                <div class="clearfix"></div>
                <h1 class=" " style="margin-top: 15rem;">Quiz Web Application</h1>
                <p>Quiz App For company Employes</p>


            </div>

        </div>
    </div>
</section>
{% endblock %}
